p {
    font-family: Montserrat
}

h1, h2 {
    font-family: arial;
    font-weight: bold;
    font-size: 150%;
}

h1 {
    font-size: 300%;
    color: white;
}

h3 {
    font-family: Open Sans Condensed;
    font-size: 110%;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

th {
    font-family: Montserrat;
    font-weight: bold;
}

td {
    font-family: arial;
}

.w-33 {
    width: calc(100%/3);
}

.nodec {
    text-decoration: none !important;
    color: rgb(100,100,100);
    border-color: rgb(100,100,100);
}

.nodec:hover {
    color: black;
    border-color: black;
}

.myshadow {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.rotateicon {
    transform: rotate(90deg);
    transition: .1s ease all;
}

.fai {
    transition: .1s ease all;
}

.desc {
    border-top: 2px solid;
}

.clear_desc {
    height: 10px;
    width: auto;
}

.mybtn, .trash {
    cursor: pointer;
}

.cartbtn {
    color: rgb(100,100,100);
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    padding: 8px;
    font-family: arial;
    font-size: 110%;
    font-weight: bold;
    background: transparent;
    transition: .1s;
}

.cartbtn:hover {
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    transition: .1s;
}

.myzoom {
    transition: .2s ease all;
}

.myzoom:hover {
    transition: .2s ease all;
    transform: scale(1.07);
}

.mylogin {
    width: 100%;
    height: 50vh;
    background: url("../images/login/loginbg.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; 
    box-shadow: 
    inset 0px 11px 8px -10px black,
    inset 0px -11px 8px -10px black; 
}

.myshadow {
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.75); 
  }

.blur {
    width: 100%;
    height: auto;
    background: url("../images/login/loginblurbg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; 
}

.flexhz {
    flex: 5;
}

.cont_1 {
    flex: 3;
}

.flexvt {
    flex: 1;
}

#input {
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 150%;
    padding: 5px 15px;
    font-family: Montserrat;
    border-radius: 5px;
    transition: all .2s ease-out;
}

#input::placeholder {
    color: white;
}

#submit, #logoutbtn {
    width: auto;
    background: transparent;
    border: 3px solid white;
    font-family: Montserrat;
    color: white;
    border-radius: 10px;
    font-size: 200%;
    transition: all .2s;
}

#logoutbtn {
    color: rgb(100, 100, 100);
}

#submit:hover, #logoutbtn:hover {
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    mix-blend-mode: screen;
}